.notes{
    background-color: white;
    border-radius: 8px;
    width: 200px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px lightgray;
    margin: 0 auto;
}

.note_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note_title{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.delete_button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.add_task_button{
    background-color: #FFC695;
    border: none;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    cursor: pointer;
}