header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #8D7254;
}

h1 {
    font-size: 1.8rem;
}

main {
    display: flex;
    justify-content: center;
    padding: 2rem;
}